@media screen and (min-width:650px){
    .noticias{
        grid-template-columns:auto auto;
    }
    
}
@media screen and (min-width:768px){
    .textBanner h2{
        top: 50%;
        font-size: 30px;
    }

    .dsflex{
        height: 101vh;
        flex-direction: row;
        justify-content: center;
        align-items: start;
    }
    .descricao{
        width: 80%;
        padding: 0 20px;
    }
    .configImagens{
        width: 50%;
        height: 100%;
    }
}


@media screen and (min-width:900px){
    .noticias{
        grid-template-columns:auto auto auto;
    }
}
@media screen and (min-width:1200px){
    .noticias{
        grid-template-columns:auto auto auto auto;
    }
}