.cabecalho{
    background-image: url("../img/gigante.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.menu{
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: end;
    color: #5b5b5b;
    background-color: #1b1b1b;
}
.menu ul{
    list-style: none;
    display: flex;
}
.menu ul li{
    margin-left: 5px;
    margin-right: 10px;
    position: relative;
}
.menu ul li a{
    color: #6b6b6b;
    text-decoration: none;
    font-size: 15px;
}
.menu ul li a:hover{
    color: white;
    font-weight: 600;
}
.menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    right:0;
    color: #5b5b5b;
    background-color: #1b1b1b;
}
.menu ul ul li {
    width: 100%; 
    display: block;
    padding: 5px 2px;
}
.menu ul li:hover > ul {
    display: block; 
}
/* TEXTO BANNER */
.textBanner h2{
    color: white;
    text-shadow: 3px 1px 3px black;
    text-align: justify;
    position: absolute;
    width: 90%;
    top: 40%;
}


/* top 10*/
.dsflex{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.dsflexinverse{
    flex-direction: column-reverse;
}

/* COLORS BACKGROUND TOP 10 */
.tp1{
    background-color: #1b1b1b;
}
.descricao{
    text-align: center;
    width: 100%;
}
.descricao h2{
    color: white;
    font-size: 3.5rem;
    font-weight: bold;

}
.descricao h2.bck{
    color: black;
}
.descricao p{
    font-size: 15px;
    text-align: justify;
    color: #6b6b6b;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*CONFIGGURAÇÕES DA IMAGENS*/
.configImagens{
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 60vh;
    width: 40vw;
}
/* IMAGENS*/
.top1{
    background-image: url(../img/rickAndMorty.jpg);
    
}
.top2{
    background-image: url(../img/naruto.jpg);
}
.top3{
    background-image: url(../img/dragonball.jpg);
    
}
.top4{
    background-image: url(../img/superOnze.jpg);
    
}
.top5{
    background-image: url(../img/bakugan.jpg);
}
.top6{
    background-image: url(../img/cavaleiros.jpg);

}
.top7{
    background-image: url(../img/pokemon.jpg);
}
.top8{
    background-image: url(../img/yugiyo.jpg);
    
}
.top9{
    background-image: url(../img/powerRangers.jpg);
}
.top10{
    background-image: url(../img/avatar.jpg);
    
}


.noticias{
    display: grid;
    grid-template-columns:auto;
    gap: 25px 0px;
    justify-items: center;
}

.card{
    width: 240px;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 12px;
    padding: 0 0 20px 0;
}
.card .head-card .configNoticias{
    width: 100%;
    padding: 0px;
    border-radius: 9px 9px 0px 0px;
}
.card .body-card .linkNoticias{
    color: blue;
    font-size: 15px;
    text-decoration: none;
}
.card .body-card .linkNoticias:hover{
    text-decoration: underline;
}